body {
    font-family: 'Concert One', cursive;
    color: rgb(252, 247, 247);
    letter-spacing: 2px;
    background-image: url("../images/MORAINE-LAKE-ALBERTA-WINTER.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 60px;
    color: rgb(252, 249, 249);
}

h3 {
    font-size: 60px;
    font-weight: bold;
}

#canadaTrivia {
    color: white;
    text-align: center;
    font-weight: bold;
}

#welcomeScreen {
background-color: rgb(170, 33, 33);
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#flag {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.black-background {
    background-color: #000000;
}

.white {
    color: #ffffff;
}


.wrongBox {
    margin: 0 auto;
    text-align: center;
    padding: 4%;
}

label {
    color: rgb(253, 253, 250);
}

#gameScreen {
    background-color: rgb(170, 33, 33);
    color: rgb(243, 255, 136);
}

#answerScreen {
    display: none;
    background-color: rgb(170, 33, 33);
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

#timesUp {
    display: none;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 15%;
    font-size: 21px;
}

#beaver {
    width: 100%;
}

.up {
    color: red;
}

.timeRemain {
    padding: 2%;
    color: rgb(252, 250, 250);
}

.timeRemain #time-remain {
    font-size: 60px;
}


.questions {
    font-size: 25px;
    
}

.ques,
label {
    padding: 1%;
}

header {
    font-size: 60px;
    color: black;
    margin-top: 2%;
}

@media only screen and (max-width: 960px) {
  #flag {
      height: 150px;
  }
}

@media only screen and (max-width: 768px) {
    #flag {
        height: 150px;
        width: 50%;
    }


@media only screen and (max-width: 360px) {
            
        #welcomeScreen {
            font-size: 15px;
        }

        #flag {
            height: 140px;
            width: 100%;
        }

        .ques-title, label {
            font-size: 10px;
        }
      }
       
  }
